absl-py==0.10.0
anykeystore==0.2
apex==0.1
appdirs==1.4.3
astor==0.8.1
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
black==19.10b0
bleach==3.1.1
blis==0.2.4
boto==2.49.0
boto3==1.12.3
botocore==1.15.3
bpemb==0.3.0
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
coverage==5.0.3
cryptacular==1.5.5
cycler==0.10.0
cymem==2.0.3
dask==2.14.0
dataclasses==0.7
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
dill==0.3.2
docutils==0.15.2
en-core-web-sm==2.1.0
entrypoints==0.3
fastparquet==0.3.3
filelock==3.0.12
-e git+https://github.com/ProsusAI/finBERT.git@ddc2e4084708df362076d351d193f45e1c1887bc#egg=finbert
flair==0.4.5
flake8==3.7.8
-e git+https://github.com/sarthakTUM/fincausal.git@6b8d28925cc3b56268f69841fe043f78d76d6fb2#egg=fnp
funcy==1.14
future==0.18.2
gast==0.2.2
gensim==3.8.1
google-api-core==1.22.1
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-cloud-core==1.4.1
google-cloud-translate==3.0.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
h5py==2.10.0
-e git+https://github.com/hyperopt/hyperopt-sklearn.git@64c693164fff9753165bb71f64648cc659d83025#egg=hpsklearn
hupper==1.10.1
hyperopt==0.2.3
idna==2.9
imageio==2.9.0
imbalanced-learn==0.7.0
importlab==0.5.1
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.13.2
json5==0.9.1
jsonschema==3.0.2
jupyter-client==5.3.4
jupyter-core==4.6.3
jupyterlab==1.2.6
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
langdetect==1.0.8
libcst==0.3.10
lime==0.2.0.1
llvmlite==0.32.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
mpld3==0.3
murmurhash==1.0.2
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.2
ninja==1.9.0.post1
nltk==3.4.4
nose==1.3.7
notebook==6.0.3
numba==0.49.0
numpy==1.18.1
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.2.0
packaging==20.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
PasteDeploy==2.1.0
pathspec==0.7.0
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plac==0.9.6
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
portalocker==2.0.0
preshed==2.0.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
proto-plus==1.8.1
protobuf==3.13.0
ptyprocess==0.6.0
py==1.8.1
pyarrow==0.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.5.2
pyparsing==2.4.6
pyramid==1.10.4
pyramid-mailer==0.15.1
pyrsistent==0.15.7
pytest==5.3.5
pytest-cov==2.7.1
pytest-localserver==0.5.0
python-crfsuite==0.9.7
python-dateutil==2.8.1
python3-openid==3.1.0
pytorch-pretrained-bert==0.6.2
pytype==2019.7.11
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
regex==2020.2.18
repoze.sendmail==4.4.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.3.3
sacrebleu==1.4.13
sacremoses==0.0.38
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
segtok==1.5.7
Send2Trash==1.5.0
sentencepiece==0.1.85
seqeval==0.0.12
-e git+https://github.com/sarthakTUM/simpletransformers.git@a46fe11138fb9d2a96ceb3d0c5be9dce0eb72f2f#egg=simpletransformers
six==1.14.0
smart-open==1.9.0
spacy==2.1.4
SQLAlchemy==1.3.13
sqlitedict==1.6.0
srsly==1.0.2
tabulate==0.8.6
tensorboard==2.1.1
tensorboardX==2.0
tensorflow==2.1.0
tensorflow-datasets==3.2.1
tensorflow-estimator==2.1.0
tensorflow-gpu==1.12.0
tensorflow-metadata==0.23.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
thinc==7.0.8
threadpoolctl==2.1.0
thrift==0.13.0
tifffile==2020.8.25
tokenizers==0.7.0
toml==0.10.0
torch==1.4.0
torchvision==0.5.0
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
transaction==3.0.0
transformers==2.9.1
translationstring==1.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
umap-learn==0.4.6
urllib3==1.24.3
velruse==1.1.1
venusian==3.0.0
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
WebOb==1.8.6
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.2.1
wtforms-recaptcha==0.3.2
# Editable install with no version control (xgboost==1.1.0)
-e /media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages
zipp==2.2.0
zope.deprecation==4.4.0
zope.interface==4.7.1
zope.sqlalchemy==1.3
